<section class="connections profile" ng-controller="ConnectionsController" ng-init="findOne()">
    <div class="page-header">

    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="no-border box title-content col-sm-10">
                    <div class="profile-photo">
                        <a href="#">
                            <img ng-src="{{connection.profileImageURL}}">
                        </a>
                    </div>
                    <div class="content no-wrap">
                        <div class="title name">
                            <span ng-bind="connection.firstName"></span>
                            <span ng-bind="connection.lastName"></span>
                        </div>
                    <!-- <img class="company-logo pull-right" src="http://www.ugei.com/sites/default/files/uge-5-logo.png"> -->
                    <img class="company-logo pull-right" ng-src="{{connection.organization.logoImageUrl}}">

                        <div class="sub-title">
                            <span>Account Executive</span>
                        </div>
                        <div class="bio">
                            <span>I am a solar system designer and can develop Helioscope design along with single line electrical diagrams.</span>
                        </div>
                        <div class="user-connections">
                            <div class="number"><strong><span ng-bind="connection.connections.length"></span></strong></div>
                            <small>connections</small>
                        </div>
                        <div class="menu">
                            <a href="#">
                                <span class="glyphicon glyphicon-tag"></span><span>Request for a quote</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>