<section>
  <div class="col-md-12">
    <form name="priceReviewForm" class="form-horizontal" ng-submit="create(priceReviewForm.$valid)" novalidate>
      <h2>Submit an anonymous quote from this supplier</h2>
      <div class="form-group">
          <strong>Your quote submission will not display your user information including name, email or the organization you are associated with.</strong>
      </div>
      <fieldset>
        <div class="form-group" show-errors>
            <label for="quoteDate">Quote Date</label>
            <md-datepicker name="quoteDate" ng-model="quoteDate" md-placeholder="Enter date" md-max-date="currentDate" required></md-datepicker>
            <div ng-messages="priceReviewForm.quoteDate.$error">
              <div class="help-block error-text" ng-message="valid">Sorry! Not a valid date. Please try again.</div>
              <div class="help-block error-text" ng-message="required">Quote date is required. When did you receive the quote?</div>
              <div class="help-block error-text" ng-message="maxdate">Date is too late!</div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="deliveryDate">Anticipated Delivery Date</label>
            <md-datepicker name="deliveryDate" ng-model="deliveryDate" md-placeholder="Enter date" md-min-date="quoteDate" required></md-datepicker>
            <div ng-messages="priceReviewForm.deliveryDate.$error">
              <div class="help-block error-text" ng-message="valid">Sorry! Not a valid date. Please try again.</div>
              <div class="help-block error-text" ng-message="required">Anticipated delivery date is required.</div>
              <div class="help-block error-text" ng-message="mindate">Anticipated delivery date should occur after quote received date.</div>
            </div>
        </div>

        <div class="form-group" show-errors>
          <label for="manufacturer">Brand</label><br>
          <md-autocomplete
            name="manufacturer"
            ng-model="manufacturer"
            md-selected-item="manufacturer"
            md-search-text="searchManufacturerText"
            md-items="man in search(searchManufacturerText)"
            md-item-text="man"
            md-min-length="0"
            placeholder="Please select a brand">
            <md-item-template>
              <span md-highlight-text="searchManufacturerText" md-highlight-flags="^i">{{man}}</span>
            </md-item-template>
            <md-not-found>
              No brands matching "{{searchManufacturerText}}" were found.
            </md-not-found>
          </md-autocomplete>
        </div>

        <div ng-if="manufacturer === 'other'" class="form-group" show-errors>
          <select name="otherManufacturer" ng-model="$parent.otherManufacturer" id="otherManufacturer" class="form-control" required>
            <option value="">---Select Other Brands---</option>
            <option ng-repeat="brand in otherBrands" value="{{brand}}">{{brand}}</option>
          </select>

          <div ng-messages="priceReviewForm.otherManufacturer.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please select a valid brand.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="stcPower">Panel Wattage (Watts)</label><br>
          <md-slider-container>
            <md-slider min="{{minStcPower}}" name="stcPower" id="stcPower" max="{{500}}" ng-model="stcPower" aria-label="red">
            </md-slider>
            <md-input-container>
              <input type="number" name="stcPowerNumber" ng-model="stcPower" id="stcPowerNumber" aria-label="red" aria-controls="red-slider">
              Watts
            </md-input-container>
          </md-slider-container>
        </div>

        <div class="form-group" show-errors>
          <label for="price">Unit Price ($USD per watt)</label><br>
          <input name="price" type="number" min="0.00" step="0.01" ng-model="price" id="price" class="form-control" placeholder="$0.00">
          <div ng-messages="priceReviewForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Quote Unit Price is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
            <label for="quantity">Quantity</label><br>
            <label><input type="radio" name="quantity" ng-model="quantity" value="0kW-100kW"  /> 0kW-100kW</label><br>
            <label><input type="radio" name="quantity" ng-model="quantity" value="101kW-500kW"  /> 101kW-500kW</label><br>
            <label><input type="radio" name="quantity" ng-model="quantity" value="501kW-1MW"  /> 501kW-1MW</label><br>
            <label><input type="radio" name="quantity" ng-model="quantity" value=">1MW"  /> >1MW</label><br>
        </div>

        <div class="form-group" show-errors>
            <label for="panelType">Panel Type</label><br>
            <label><input type="radio" name="panelType" ng-model="panelType" value="Mono"  /> Mono</label><br>
            <label><input type="radio" name="panelType" ng-model="panelType" value="Poly"  /> Poly</label><br>
        </div>

        <div class="form-group" show-errors>
            <label for="includesShipping">Includes Shipping?</label><br>
            <label><input type="radio" name="includesShipping" ng-model="includesShipping" value="true"  /> Yes</label><br>
            <label><input type="radio" name="includesShipping" ng-model="includesShipping" value="false"  /> No</label><br>
        </div>

        <div ng-show="includesShipping === 'true'" class="form-group" show-errors>
            <label for="shippingLocation">Shipping Location</label><br>
            <label><input type="radio" name="shippingLocation" ng-model="shippingLocation" value="Asia/Australia"  /> Asia/Australia</label><br>
            <label><input type="radio" name="shippingLocation" ng-model="shippingLocation" value="Africa"  /> Africa</label><br>
            <label><input type="radio" name="shippingLocation" ng-model="shippingLocation" value="Europe"  /> Europe</label><br>
            <label><input type="radio" name="shippingLocation" ng-model="shippingLocation" value="North America"  /> North America</label><br>
            <label><input type="radio" name="shippingLocation" ng-model="shippingLocation" value="South America"  /> South America</label><br>
        </div>
        <div class="form-group submit">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div ng-show="!authentication.user.emailVerified" class="form-group" style="color:red">
          <strong>Your quote will not be displayed publicly until you have verified your email address.</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
