<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Contact Supplier</title>
</head>

<body>
  <p>User: {{name}}</p>
  <p>User Organization: {{userOrg}}</p>
  <p>Contact Organization: {{orgName}}.</p>
  <p>User Role: {{formData.projectRole}}</p>
  <p>Preferred Module Wattage: {{formData.preferredModuleWattage}}</p>
  <p>Project Size: {{formData.quantity}}</p>
  <p>Delivery Date: {{formData.deliveryDate | date('Y-m-d')}}</p>
  <p>Contact Details: {{formData.content}}</p>
</body>

</html>
