<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Contact Supplier</title>
</head>

<body>
  <p>User: {{name}}</p>
  <p>User Organization: {{userOrg}}</p>
  <p>Contact Organization: {{orgName}}.</p>
  <p>Project Role: {{formData.projectRole}}</p>
  <p>Preferred Module Wattage: {{formData.preferredModuleWattage}}</p>
  <p>Project Size: {{formData.quantity}}</p>
  <p>Delivery Date: {{formData.deliveryDate | date('Y-m-d')}}</p>
  <br>
  Shipping Address
  <p>Address1: {{ formData.shippingAddress.address1 }}</p>
  <p>Address2: {{ formData.shippingAddress.address2 }}</p>
  <p>City: {{ formData.shippingAddress.city }}</p>
  <p>State: {{ formData.shippingAddress.state }}</p>
  <p>Postal/Zipcode: {{ formData.shippingAddress.zipcode }}</p>
  <p>Country: {{ formData.shippingAddress.country }}</p>
  <br>
  Additional Details:
  <br>
  {{formData.content}}
</body>

</html>
