<section class="container add-bidders">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Add Bidders</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <h2>Invite Contacts for Bidding</h2>
  <div class="list-group">
    <a ng-repeat="connection in project.user.connections" ng-click="toggle(connection)" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="connection.username"></h4>
      <p class="list-group-item-text" ng-bind="connection.email"></p>
    </a>
  </div>
  <hr/>
  <h2 ng-show="addedBidders.length">Selected Bidders</h2>
  <div class="list-group">
    <a ng-repeat="connection in addedBidders" ng-click="toggle(connection)" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="connection.username"></h4>
      <p class="list-group-item-text" ng-bind="connection.email"></p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
