<section class="container" ng-controller="ProjectsController" ng-init="createDate()">
  <div class="page-header">
  </div>
  <div class="col-md-12">
    <form name="projectForm" class="form-horizontal border" ng-submit="create(projectForm.$valid)" novalidate>
    <h2>Submit a RFQ</h2>
      <fieldset>
        <div class="form-group" show-errors>
<!--           <label for="title">Title</label>
 -->          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="RFQ Name" required>
          <div ng-messages="projectForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <select name="project_state" ng-model="project_state" id="project_state" class="form-control" required>
            <option value="">---Public or Private RFQ---</option>
            <option value="public">Public</option>
            <option value="private">Private</option> 
          </select>
          <div ng-messages="projectForm.project_state.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please indicate whether this RFQ is public or private</p>
          </div>
        </div>

        <div class="form-group" show-errors>

          <md-chips name="panel_models" ng-model="panel_models" md-autocomplete-snap md-require-match="true" md-no-cache="true" md-max-chips="6" required>

            <md-autocomplete  
              md-selected-item="selectedItem" 
              md-search-text="searchText" 
              md-items="item in getMatches(searchText)" 
              md-item-text="item.model" 
              md-min-length="0"
              placeholder="Please select panel model"
              ng-hide="panel_models.length >= 5">
                <span md-highlight-text="searchText">
                  {{item.manufacturer}}, {{item.model}}
                </span>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.manufacturer}}, {{$chip.model}}</span>
            </md-chip-template>
            </md-chips>
            <div ng-messages="projectForm.panel_models.$error" role="alert">
              <p class="help-block error-text" ng-message="md-max-chips">Please select no more than 5 panel models.</p>
            </div>
        </div>

        <div class="form-group" show-errors>
          <input name="quantity" type="text" ng-model="quantity" id="quantity" class="form-control" placeholder="Quantity" required>
          <div ng-messages="projectForm.quantity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Quantity is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="preferred_payment_term" type="text" ng-model="preferred_payment_term" id="preferred_payment_term" class="form-control" placeholder="Preferred Payment Term" required>
          <div ng-messages="projectForm.preferred_payment_term.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Preferred Payment Term is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="bid_deadline">Bid Deadline</label>
          <input name="bid_deadline" type="date" min="{{bid_date.currentDate | date:'yyyy-MM-dd'}}" max="{{bid_date.yearAheadDate | date:'yyyy-MM-dd'}}" ng-model="bid_date.value" id="bid_deadline" class="form-control" required>
          <div ng-messages="projectForm.bid_deadline.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bid Deadline is required.</p>
            <p class="help-block error-text" ng-message="date">Invalid Date.</p>
            <p class="help-block error-text" ng-message="min">Bid deadline cannot be in the past</p>
            <p class="help-block error-text" ng-message="max">Bid deadline must be within one year from today.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="shipping_address_1" type="text" ng-model="shipping_address_1" id="shipping_address_1" class="form-control" placeholder="Shipping Address Line 1" required>
          <div ng-messages="projectForm.shipping_address_1.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Shipping Address Line 1 is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="shipping_address_2" type="text" ng-model="shipping_address_2" id="shipping_address_2" class="form-control" placeholder="Shipping Address Line 2">
           <div ng-messages="projectForm.shipping_address_2.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Shipping Address Line 2 is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="shipping_address_city" type="text" ng-model="shipping_address_city" id="shipping_address_city" class="form-control" placeholder="City" required>
          <div ng-messages="projectForm.shipping_address_city.$error" role="alert">
            <p class="help-block error-text" ng-message="required">City is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="shipping_address_state" type="text" ng-model="shipping_address_state" id="shipping_address_state" class="form-control" placeholder="State" required>
          <div ng-messages="projectForm.shipping_address_state.$error" role="alert">
            <p class="help-block error-text" ng-message="required">State is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="shipping_address_zip_code" type="text" ng-model="shipping_address_zip_code" id="shipping_address_zip_code" class="form-control" placeholder="Zip Code" required>
          <div ng-messages="projectForm.shipping_address_zip_code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Zip Code is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="shipping_address_country" type="text" ng-model="shipping_address_country" id="shipping_address_country" class="form-control" placeholder="Country" required>
          <div ng-messages="projectForm.shipping_address_country.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country is required.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
