<section class="container" ng-controller="ProjectsController" ng-init="createDate()">
    <div class="page-header">
    </div>
    <div class="col-md-12">
        <form name="projectForm" class="form-horizontal border" ng-submit="create(projectForm.$valid)" novalidate>
            <h2>Request a quote</h2>
            <fieldset>
                <div class="form-group" show-errors>
                    <select name="project_state" ng-model="project_state" id="project_state" class="form-control" required>
            <option value="">---Public or Private Quote Request---</option>
            <option value="public">Public - all your preferred suppliers will receive an invite</option>
            <option value="private">Private - Only invited suppliers will receive the RFQ</option> 
          </select>
                    <div ng-messages="projectForm.project_state.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Please indicate whether this Quote Request is public or private</p>
                    </div>
                </div>

                <div class="form-group" show-errors>

                    <md-chips name="panel_models" ng-model="panel_models" md-autocomplete-snap md-require-match="true" md-no-cache="true" md-max-chips="6" required>

                        <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.model" md-min-length="0" placeholder="Please select panel model" ng-hide="panel_models.length >= 5">
                            <span md-highlight-text="searchText">
                  {{item.manufacturer}}, {{item.model}}
                </span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.manufacturer}}, {{$chip.model}}</span>
                        </md-chip-template>
                    </md-chips>
                    <div ng-messages="projectForm.panel_models.$error" role="alert">
                        <p class="help-block error-text" ng-message="md-max-chips">Please select no more than 5 panel models.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="quantity" type="text" ng-model="quantity" id="quantity" class="form-control" placeholder="Quantity" required>
                    <div ng-messages="projectForm.quantity.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Suppliers need to know how many panels you are looking for!</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="preferred_payment_term" type="text" ng-model="preferred_payment_term" id="preferred_payment_term" class="form-control" placeholder="Preferred Payment Term" required>
                    <div ng-messages="projectForm.preferred_payment_term.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Preferred Payment Term is required.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="bid_deadline">Suppliers need to submit a quote by:</label>
                    <input name="bid_deadline" type="date" min="{{bid_date.currentDate | date:'yyyy-MM-dd'}}" max="{{bid_date.yearAheadDate | date:'yyyy-MM-dd'}}" ng-model="bid_date.value" id="bid_deadline" class="form-control" required>
                    <div ng-messages="projectForm.bid_deadline.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Deadline is required. When would you like the suppliers to submit a quote by?</p>
                        <p class="help-block error-text" ng-message="date">Sorry! Not a valid date. Please try again.</p>
                        <p class="help-block error-text" ng-message="min">We know you wanted a quote yesterday but the deadline needs to be in the future.</p>
                        <p class="help-block error-text" ng-message="max">Too far into the future! The deadline needs to be within one year from today.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="shipping_address_1" type="text" ng-model="shipping_address_1" id="shipping_address_1" class="form-control" placeholder="Shipping Address Line 1" required>
                    <div ng-messages="projectForm.shipping_address_1.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">We are working on predicting your shipping address but until then, your suppliers need to ship the panels somewhere.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="shipping_address_2" type="text" ng-model="shipping_address_2" id="shipping_address_2" class="form-control" placeholder="Shipping Address Line 2">
                    <div ng-messages="projectForm.shipping_address_2.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Shipping Address Line 2 is required.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="shipping_address_city" type="text" ng-model="shipping_address_city" id="shipping_address_city" class="form-control" placeholder="City" required>
                    <div ng-messages="projectForm.shipping_address_city.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">These panels need a home! Please put in the city.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="shipping_address_state" type="text" ng-model="shipping_address_state" id="shipping_address_state" class="form-control" placeholder="State" required>
                    <div ng-messages="projectForm.shipping_address_state.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">There are a lot of states in this country. Please select a state.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="shipping_address_zip_code" type="text" ng-model="shipping_address_zip_code" id="shipping_address_zip_code" class="form-control" placeholder="Zip Code" required>
                    <div ng-messages="projectForm.shipping_address_zip_code.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">We don't know who invented zip codes but apparently they are important. Please put one in. We really need it.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <input name="shipping_address_country" type="text" ng-model="shipping_address_country" id="shipping_address_country" class="form-control" placeholder="Country" required>
                    <div ng-messages="projectForm.shipping_address_country.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Countries are like carrots. We need them. Please try again by selecting a country.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <!--           <label for="title">Title</label> -->
                    <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Note on this RFQ" required>
                    <div ng-messages="projectForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">RFQ name is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>