<section class="container" ng-controller="ProjectsController" ng-init="findOne(); initEdit()">
  <div class="page-header">
    <h2>Edit Project</h2>
  </div>
  <div class="col-md-12">
    <form name="projectForm" class="form-horizontal" ng-submit="update(projectForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="project.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="projectForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project title is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="panel_models">Panel Models</label>
          <md-chips name="panel_models" ng-model="project.panel_models" md-autocomplete-snap md-require-match="true" md-min-chips="1" md-max-chips="5" required>
            <md-autocomplete  
              md-selected-item="selectedItem" 
              md-search-text="searchText" 
              md-items="item in getMatches(searchText)" 
              md-item-text="item.model" 
              md-min-length="0"
              placeholder="Please Select Panel Model">
                <span md-highlight-text="searchText">
                  {{item.model}}
                </span>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.model}}</span>
            </md-chip-template>
            </md-chips>
            <div ng-messages="projectForm.panel_models.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Please select at least 1 panel model.</p>
            </div>
        </div>
        <!-- ADD A BOX DISPLAYING RESULTS OF PANEL MODELS HERE -->

        <div class="form-group" show-errors>
          <label for="system_capacity">System Capacity</label>
          <input name="system_capacity" type="text" ng-model="project.system_capacity" id="system_capacity" class="form-control" placeholder="project.system_capacity" required>
          <div ng-messages="projectForm.system_capacity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bid Deadline is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="bid_deadline">Bid Deadline</label>
          <input name="bid_deadline" type="date" min="{{bid_date.currentDate | date:'yyyy-MM-dd'}}" max="{{bid_date.yearAheadDate | date:'yyyy-MM-dd'}}" ng-model="project.bid_deadline" placeholder="yyyy-MM-dd" id="bid_deadline" class="form-control" required>
          <div ng-messages="projectForm.bid_deadline.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bid Deadline is required.</p>
            <p class="help-block error-text" ng-message="date">Invalid Date.</p>
            <p class="help-block error-text" ng-message="min">Bid deadline cannot be in the past</p>
            <p class="help-block error-text" ng-message="max">Bid deadline must be within one year from today.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="shipping_address">Shipping Address</label>
          <input name="shipping_address" type="text" ng-model="project.shipping_address" id="shipping_address" class="form-control" placeholder="Shipping Address" required>
          <div ng-messages="projectForm.shipping_address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Shipping Address is required.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
