<section class="container" ng-controller="ProjectsController" ng-init="(authentication.user.roles[0] === 'seller') ? find() : findMyProjects();">
  <div class="page-header">
    <h2>Projects</h2>
  </div>
  <div class="list-group">
    <a ng-repeat="project in projects" ui-sref="projects.view({projectId: project._id})" class="list-group-item">
    <!-- ng-show="authentication.user._id == project.user._id" -->
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="project.created | date:'mediumDate'"></span>
        by
        <span ng-bind="project.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="project.title"></h4>
      <h5 class="list-group-item-heading">Bid Deadline: <span ng-bind="project.bid_deadline | date:'mediumDate'"></span></h5>
      <h5 class="list-group-item-heading">Time Remaining: <span class="bg-danger" countdown="" date="project.bid_deadline"></span></h5>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="authentication.user.roles[0] != 'seller' && projects.$resolved && !projects.length">
    No projects yet, why don't you <a ui-sref="projects.create">create one</a>?
  </div>
</section>