<section class="container project list-view block border" ng-controller="ProjectsController" ng-init="find()">
    <div class="page-header">
        <h3 ng-if="authentication.user.roles.indexOf('user') === -1">Request for Quotes you are invited to: </h3>
        <h3 ng-if="authentication.user.roles.indexOf('seller') === -1">Request for Quotes you submitted: </h3>
        <div class="menu" ng-if="authentication.user.roles.indexOf('seller') === -1">
            <!-- Shows the menu if the user is a buyer -->
            <a ui-sref="projects.create">
                <span class="glyphicon glyphicon-new-window"></span><span>New quote request</span>
            </a>
        </div>
    </div>
    <div class="list-group">
        <div ng-repeat="project in projects" class="list-group-item col-sm-2">
        <div class="logo-background">
            <img class="company-logo" ng-src="{{project.organization.logoImageUrl}}">
        </div>
            <b class="notice error" ng-show="!project.bidOpen">
                This RFQ is closed.
            </b>

            <div class="detail">
                <a target="blank" class="project-title" ui-sref="projects.view({projectId: project._id})">
                    <!-- ng-show="authentication.user._id == project.user._id" -->
                    <h4><span class="list-group-item-heading" ng-bind="project.quantity"></span> x Poly Solar Modules</h4>
                </a>
                Ship to 
                <span ng-bind="project.shipping_address_city"></span>, 
                <span ng-bind="project.shipping_address_state"></span> 
                <div class="list-detail" ng-show="authentication.user.roles[0] === 'user'">
                    <h5 class="list-group-item-heading bid">Top Bid: <span ng-bind="(project.bids[0]) ? (project.bids[0].subtotal/100 | currency) : 'No Bids Placed'"></span>
                    <br><span class="notice user-specific"><i>Your suppliers will not see<br> the top bid</i></span>
                    </h5>
                </div>
                <div class="menu" ng-show="project.canBid">
                    <a class="place-bid" ng-click="showBidView($event, project._id)">
                        <span class="glyphicon glyphicon-tag"></span><span>Submit a quote</span>
                    </a>
                </div>
                <span class ="note"><small>Note: <span ng-bind="project.title"></span></small></span>
                <div ng-if="authentication.user.roles.indexOf('user') === -1">
                <small>Invited by <span ng-bind="project.user.displayName"></span> on <span ng-bind="project.created | date:'yyyy-MM-dd'"></span></small>
                </div>
            </div>

        </div>
    </div>
    <div class="alert alert-warning text-center" ng-if="authentication.user.roles[0] !== 'seller' && projects.$resolved && !projects.length">
        No Request for Quotes yet, why don't you <a ui-sref="projects.create">create one</a>?
    </div>
    <div class="alert alert-warning text-center" ng-if="authentication.user.roles[0] === 'seller' && projects.$resolved && !projects.length">No Request for Quotes to bid on!</div>
</section>