<section class="project-view" ng-controller="ProjectsController" ng-init="findOne()">
    <div class="page-header col-sm-12">
        <div class="project-header container">
            <h3>Requesting <span ng-bind="project.title"></span></h3>
        </div>
        <div class="menu" ng-show="project.canBid">
            <a class="place-bid" ng-click="showBidView($event)"><span class="glyphicon glyphicon-tag"></span><span >Place a Bid</span></a>
        </div>
        <!-- only show this edit/delete option to buyers -->
        <div class="menu" ng-show="authentication.user._id === project.user._id">
            <a class="first" ui-sref="projects.edit({projectId: project._id})" ng-show="project.bidOpen">
                    Edit Project
                </a>
            <a class="last" ng-click="remove();">
                    Delete
                </a>
            <a ng-show="project.project_state === 'private'" ng-click="showAddBidders($event)"><span class="glyphicon glyphicon-user"></span>Invite Suppliers</a>
        </div>
        <!-- only show this bid div to sellers trying to bid on a project -->

    </div>

    <div class="container">

        <div class="form-horizontal data col-sm-12 no-wrap">
            <div class="col-sm-6 col-sm-push-6">
                <div class="box no-padding">
                    <!--         <label class="control-label col-sm-2">Remaining Time:</label>
 -->
                    <!--  <span class="bg-danger ng-isolate-scope ng-hide" countdown="" date="project.bid_deadline" ng-show="project.bidOpen" aria-hidden="true">-29d 5h 50m 7s</span> left -->
                    <div ng-show="!project.bidOpen" aria-hidden="false" class="notice error">Sorry! Currently not accepting bids.</div>
                    <div class="notice" ng-show="project.bidOpen">
                        Accepting bids until
                        <span ng-bind="project.bid_deadline | date:'yyyy-MM-dd'" class="ng-binding">Oct 21, 2016</span>
                    </div>
                    <div ng-show="project.project_state === 'private'" class="notice error">This project is private</div>
                </div>
                <div class="box delivery-location no-padding">
                    <div class="box-title">
                        <div class="glyphicon glyphicon-map-marker"></div>
                        Ship to
                        <span ng-bind="project.shipping_address" class="ng-binding">266 10th Street, Brooklyn, NY 11215</span>
                    </div>
                </div>
                <div class="specified-products">
                    <div class="box title-content specified-products">
                        <div class="box-title">Specified Products</div>
                        <div class="content">
                            <md-chips ng-model="project.panel_models" readonly="true" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" aria-hidden="true" tabindex="-1" aria-invalid="false">
                                <md-chips-wrap ng-keydown="$mdChipsCtrl.chipKeydown($event)" ng-class="{ 'md-focused': $mdChipsCtrl.hasFocus(),                       'md-readonly': !$mdChipsCtrl.ngModelCtrl || $mdChipsCtrl.readonly,                      'md-removable': $mdChipsCtrl.isRemovable() }" class="md-chips md-readonly">
                                    <!-- ngRepeat: $chip in $mdChipsCtrl.items -->
                                    <!-- ngIf: !$mdChipsCtrl.readonly && $mdChipsCtrl.ngModelCtrl -->
                                </md-chips-wrap>
                                <md-chip-template>
                                    <span>{{$chip.manufacturer}}, {{$chip.model}}</span>
                                </md-chip-template>
                            </md-chips>


                        </div>
                    </div>
                </div>
                <div class="specified-suppliers">
                    <div class="box title-content specified-products" ng-show="project.bidders.length">
                        <div class="box-title">Participating Suppliers
                        <div class="menu" ng-show="authentication.user._id === project.user._id">
                            <a ng-show="project.project_state === 'private'" ng-click="showAddBidders($event)"><span class="glyphicon glyphicon-user"></span><span>Invite Suppliers</span></a>
                        </div>
                        </div>
                        <div class="content">
                            <div class="list-item" ng-repeat="bidder in project.bidders">
                            <small>
                                <a target="blank" ui-sref="connections.view({connectionId: bidder._id})">
                                <img class="profile" ng-src="{{bidder.profileImageURL}}">
                                    <span ng-bind="bidder.firstName"></span> <span ng-bind="bidder.lastName"></span>
                                </a>
                            </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="list-group col-sm-6 col-sm-pull-6">
                <div class="box title-content">
                    <div class="box-title">
                        <span style="float:left;">Activities</span>
                        <span>Discussions</span>
                    </div>
                </div>

                <a ng-repeat="bid in project.bids" class="box list-group-item col-sm-12">

                    <!-- ng-show="authentication.user._id == project.user._id" -->
                    <div class="bid">
                        <div>
                            <img class="company-logo" src="http://www.ugei.com/sites/default/files/uge-5-logo.png">


                        </div>
                        <div>
                            <small class="list-group-item-text">
                            <img class="profile" ng-src="{{bid.user.profileImageURL}}">
                            <div class="col-sm-10 comment no-wrap">
                            <span ng-bind="bid.user.firstName"></span> submitted a bid at <span><span ng-bind="bid.bid_price/100 | currency"></span>/W</span> (<span>Centrosolar, CP60 260BW</span>) on <span ng-bind="bid.created | date:'mediumDate'"></span>
                            </div>
                             </small>
                        </div>

                    </div>
                    <div>

                    </div>

                </a>
            </div>
        </div>

    </div>
</section>