<section class="project-view" ng-controller="ProjectsController" ng-init="findOne()">
    <div class="page-header col-sm-12">
        <div class="project-header container">
            <h3><span ng-bind="project.quantity"></span> x Poly Solar Modules</h3>
        </div>
        <div class="menu" ng-show="project.canBid">
            <a class="place-bid" ng-click="showBidView($event)">
                <span class="glyphicon glyphicon-tag"></span>
                <span>Submit a quote</span>
            </a>
        </div>
        <!-- only show this edit/delete option to buyers -->
        <div class="menu" ng-show="authentication.user._id === project.user._id">
            <a class="first" ui-sref="projects.edit({projectId: project._id})" ng-show="project.bidOpen">
            <span class="glyphicon glyphicon-edit"></span>
                    Edit RFQ
                </a>
            <a class="last" ng-click="remove();">
            <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </a>
            <a ng-show="project.project_state === 'private'" ng-click="showAddBidders($event)"><span class="glyphicon glyphicon-user"></span>Invite Suppliers</a>
        </div>
        <!-- only show this bid div to sellers trying to bid on a project -->

    </div>

    <div class="container">

        <div class="form-horizontal data col-sm-12 no-wrap">
            <div class="col-sm-6 col-sm-push-6">
                <div class="box no-padding">
                    <!--         <label class="control-label col-sm-2">Remaining Time:</label>
 -->
                    <!--  <span class="bg-danger ng-isolate-scope ng-hide" countdown="" date="project.bid_deadline" ng-show="project.bidOpen" aria-hidden="true">-29d 5h 50m 7s</span> left -->
                    <div ng-show="!project.bidOpen" aria-hidden="false" class="notice error">Sorry! Currently not accepting bids.</div>
                    <div class="notice" ng-show="project.bidOpen">
                        Accepting bids until
                        <span ng-bind="project.bid_deadline | date:'yyyy-MM-dd'" class="ng-binding">Oct 21, 2016</span>
                    </div>
                    <div ng-show="project.project_state === 'private'" class="notice error">This project is private</div>
                </div>
                <div class="box delivery-location no-padding">
                    <div class="box-title">
                        <div class="glyphicon glyphicon-file"></div>
                        Note - 
                        <span ng-bind="project.title" class="ng-binding"></span> 
                    </div>
                </div>
                <div class="box delivery-location no-padding">
                    <div class="box-title">
                        <div class="glyphicon glyphicon-map-marker"></div>
                        Ship to
                        <span ng-bind="project.shipping_address_city" class="ng-binding"></span>, 
                        <span ng-bind="project.shipping_address_state" class="ng-binding"></span>
                        <span ng-bind="project.shipping_address_zip_code" class="ng-binding"></span>, 
                        <span ng-bind="project.shipping_address_country" class="ng-binding"></span>
                    </div>
                </div>

                <div class="box delivery-location no-padding">
                    <div class="box-title">
                        <div class="glyphicon glyphicon-list-alt"></div>
                        Preferred paymen term - 
                        <span ng-bind="project.preferred_payment_term" class="ng-binding"></span> 
                    </div>
                </div>
                <div class="specified-products">
                    <div class="box title-content specified-products">
                        <div class="box-title">Specified Products</div>
                        <div class="content">
                            <md-chips ng-model="project.panel_models" readonly="true" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" aria-hidden="true" tabindex="-1" aria-invalid="false">
                                <md-chips-wrap ng-keydown="$mdChipsCtrl.chipKeydown($event)" ng-class="{ 'md-focused': $mdChipsCtrl.hasFocus(),                       'md-readonly': !$mdChipsCtrl.ngModelCtrl || $mdChipsCtrl.readonly,                      'md-removable': $mdChipsCtrl.isRemovable() }" class="md-chips md-readonly">
                                    <!-- ngRepeat: $chip in $mdChipsCtrl.items -->
                                    <!-- ngIf: !$mdChipsCtrl.readonly && $mdChipsCtrl.ngModelCtrl -->
                                </md-chips-wrap>
                                <md-chip-template>
                                    <span>{{$chip.manufacturer}}, {{$chip.model}}</span>
                                </md-chip-template>
                            </md-chips>


                        </div>
                    </div>
                </div>
                <div class="specified-suppliers" ng-show="authentication.user._id === project.user._id">
                    <div class="box title-content" ng-show="project.bidders.length">
                        <div class="box-title">Participating Suppliers <br><span class="notice user-specific"><i>Your suppliers will not see this list</i></span>
                        <div class="menu" ng-show="authentication.user._id === project.user._id">
                            <a ng-show="project.project_state === 'private'" ng-click="showAddBidders($event)"><span class="glyphicon glyphicon-user"></span><span>Invite Suppliers</span></a>
                        </div>
                        </div>
                        <div class="content">
                            <div class="list-item" ng-repeat="bidder in project.bidders">
                            <small>
                                <a target="blank" ui-sref="connections.view({connectionId: bidder._id})">
                                <img class="profile" ng-src="{{bidder.profileImageURL}}">
                                    <span ng-bind="bidder.firstName"></span> <span ng-bind="bidder.lastName"></span>
                                </a>
                            </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="list-group col-sm-6 col-sm-pull-6 activities">
                <div class="box title-content">
                    <div class="box-title">
                        <span style="float:left;">Activities</span>
                        <span>Discussions</span>
                    </div>
                </div>

                <div ng-repeat="bid in project.bids" class="box list-group-item col-sm-12">

                    <!-- ng-show="authentication.user._id == project.user._id" -->
                    <div class="bid">
                            <!-- <img class="company-logo" ng-src="{{bid.organization.logoImageUrl}}"> -->
                            <h6><span ng-bind="bid.organization.companyName"></span></h6>
                        <a ui-sref="bids.view({bidId: bid._id})">
                            <small class="list-group-item-text">
                            <img class="profile" ng-src="{{bid.user.profileImageURL}}">
                            <div class="col-sm-10 comment no-wrap">
                                <span ng-bind="bid.user.firstName"></span> submitted a quote at <span><span ng-bind="bid.subtotal/100 + bid.shipping_cost/100 + bid.sales_tax/100 | currency"></span></span> (<span ng-bind="bid.panel_models[0].manufacturer"></span>, <span ng-bind="bid.panel_models[0].model"></span>) on <span ng-bind="bid.created | date:'mediumDate'"></span>
                            - <span class="view-quote">View quote</span>
                            </div>
                            
                             </small>
                        </a>

                    </div>
                    <div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>