<section class="project-view container" ng-controller="ProjectsController" ng-init="findOne()">
    <div class="page-header">
        <div class="project-header">
            <h2 ng-bind="project.title"></h2>
            <!-- only show this edit/delete option to buyers -->
            <div class="pull-left edit-delete" ng-show="authentication.user._id == project.user._id">
                <a class="btn btn-primary" ui-sref="projects.edit({projectId: project._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
         <!-- only show this bid div to sellers trying to bid on a project -->
         <a class="place-bid" ng-show="authentication.user.roles[0] === 'seller'" ui-sref="bids.create({projectId: project._id})">Place a Bid</a>
    </div>

<div class="form-horizontal data">
    <div class="form-group">
        <label class="control-label col-sm-2">Top Bid: </label>
        <div class="col-sm-4">
            <p ng-bind="(project.bids[0]) ? (project.bids[0].bid_price/100 | currency) + '/W from ' + project.bids[0].user.displayName : 'Currently No Bids!'"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">System Capacity: </label>
        <div class="col-sm-4">
            <p ng-bind="project.system_capacity"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Bid Deadline:</label>
        <div class="col-sm-4">
            <p ng-bind="project.bid_deadline | date:'mediumDate'"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Shipping Address:</label>
        <div class="col-sm-4">
            <p ng-bind="project.shipping_address"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Panel Wattage:</label>
        <div class="col-sm-4">
            <p ng-bind="project.panel_wattage"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Panel Type:</label>
        <div class="col-sm-4">
            <p ng-bind="project.panel_type"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Remaining Time:</label>
        <div class="col-sm-4">
            <span class="bg-danger" countdown='' date="project.bid_deadline"/>
        </div>
    </div>
</div>
<br />
<div class="list-group">
    <a ng-repeat="bid in project.bids" class="list-group-item">
    <!-- ng-show="authentication.user._id == project.user._id" -->
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="bid.created | date:'mediumDate'"></span>
        by
        <span ng-bind="bid.user.displayName"></span>
      </small>
      <h5 class="list-group-item-heading">Bid Price: <span ng-bind="bid.bid_price/100 | currency"></span>/W</h5>
      <h5 class="list-group-item-heading">Delivery Date: <span ng-bind="bid.delivery_date | date:'mediumDate'"></span></h5>
    </a>
</div>
</section>