<section class="container add-users">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Add Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <h2>User list</h2>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" ng-click="toggle(user)" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>
  <hr/>
  <h2 ng-show="addedUsers.length">Selected Bidders</h2>
  <div class="list-group">
    <a ng-repeat="user in addedUsers" ng-click="toggle(user)" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>
  <div class="list-group">
  	<button type="button" class="btn btn-primary" ng-click="acceptUsers()">Add Users</button>
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
