<section class="list-view add-users">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h3>Add employees</h3>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" ng-click="toggle(user)" class="list-group-item">
      <img class="profile" ng-src="{{user.profileImageURL}}">
      <h4 class="list-group-item-heading" ng-bind="user.displayName"></h4>
      <h5>Associate Executive @ UGE</h5>
    </a>
  </div>
  <hr/>
  <h2 ng-show="addedUsers.length">Selected employees</h2>
  <div class="list-group">
    <a ng-repeat="user in addedUsers" ng-click="toggle(user)" class="list-group-item">
      <img class="profile" ng-src="{{user.profileImageURL}}">
      <h4 class="list-group-item-heading" ng-bind="user.displayName"></h4>
      <h5>Associate Executive @ UGE</h5>
    </a>
  </div>
  <div class="list-group">
  	<button type="button" class="btn btn-primary" ng-click="acceptUsers()">Add employees</button>
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
