<section>
  <div class="col-md-12">
    <form name="contactSupplierForm" class="form-horizontal" ng-submit="contact(contactSupplierForm.$valid)" novalidate>
      <h2>Contact a supplier organization</h2>
      <div class="form-group">
          <strong>A representative from this seller will be in touch with you shortly.</strong>
      </div>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="content">Please provide details on your inquiry</label>
          <textarea name="content" ng-model="content" id="content" minLength="1" class="form-control" cols="30" rows="10" required></textarea>
          <div ng-messages="contactSupplierForm.content.$error" role="alert">
            <p class="help-block error-text" ng-message="required">An inquiry is required.</p>
          </div>
        </div>
        <div class="form-group submit">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>