<section>
  <div class="col-md-12">
    <form name="contactSupplierForm" class="form-horizontal" ng-submit="contact(contactSupplierForm.$valid)" novalidate>
      <h2>Contact {{organization.companyName}}</h2>
      <div class="form-group">
        <strong>Please fill out the following information so a representative from {{organization.companyName}} can be in touch with you. Someone will be in touch with you within 24 hours.</strong>
      </div>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="projectRole">Your company's role in the project</label>
          <select name="projectRole" ng-model="projectRole" id="projectRole" class="form-control" required>
            <option ng-repeat="projectRole in projectRoles" ng-value="projectRole">{{projectRole}}</option>
          </select>
         <div ng-messages="contactSupplierForm.projectRole.$error" role="alert">
           <p class="help-block error-text" ng-message="required">Your project role is required.</p>
         </div>
        </div>

        <div class="form-group" show-errors>
          <label for="quantity">Project Size</label>
          <select name="quantity" ng-model="quantity" id="projectRole" class="form-control" required>
            <option ng-repeat="quantity in quantities" ng-value="quantity">{{quantity}}</option>
          </select>
          <div ng-messages="contactSupplierForm.quantity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project size is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="preferredModuleWattage">Minimum Module Wattage (W)</label><br>

          <input name="preferredModuleWattage" type="number" min="0" ng-model="preferredModuleWattage" id="preferredModuleWattage" class="form-control" placeholder="" required>
          <div ng-messages="contactSupplierForm.preferredModuleWattage.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Preferred module wattage is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label for="deliveryDate">Anticipated Delivery Date</label>
          <md-datepicker name="deliveryDate" ng-model="deliveryDate" md-placeholder="Enter date" md-min-date="presentDate" required></md-datepicker>
          <div ng-messages="contactSupplierForm.deliveryDate.$error" role="alert">
            <p class="help-block error-text" ng-message="valid">Sorry! Not a valid date. Please try again.</p>
            <p class="help-block error-text" ng-message="required">Anticipated delivery date is required.</p>
            <p class="help-block error-text" ng-message="mindate">Anticipated delivery date should occur after quote received date.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="address1">Shipping Address</label>
          <input name="address1" type="text" ng-model="shippingAddress.address1" id="address1" class="form-control" placeholder="Address Line 1">
        </div>

        <div class="form-group" show-errors>
          <input name="address2" type="text" ng-model="shippingAddress.address2" id="address2" class="form-control" placeholder="Address Line 2">
        </div>

        <div class="form-group" show-errors>
          <input name="city" type="text" ng-model="shippingAddress.city" id="city" class="form-control" placeholder="City" required>
          <div ng-messages="contactSupplierForm.city.$error" role="alert">
            <p class="help-block error-text" ng-message="required">City is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="state" type="text" ng-model="shippingAddress.state" id="state" class="form-control" placeholder="State">
        </div>

        <div class="form-group" show-errors>
          <input name="zipcode" type="text" ng-model="shippingAddress.zipcode" id="zipcode" class="form-control" placeholder="Postal/Zipcode" required>
          <div ng-messages="contactSupplierForm.zipcode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Postal/Zipcode is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="country" type="text" ng-model="shippingAddress.country" id="country" class="form-control" placeholder="Country" required>
          <div ng-messages="contactSupplierForm.country.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="content">Additional details about the project (optional)</label>
          <textarea name="content" ng-model="content" id="content" minLength="1" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group submit">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
