<section class="container" ng-controller="OrganizationsController" ng-init="loadPanelModelsData()">
  <div class="page-header">
  </div>
  <div class="col-md-12">
    <form name="organizationForm" class="form-horizontal" ng-submit="create(organizationForm.$valid)" novalidate>
      <h2>Create Company Profile</h2>
      <fieldset>
        <div class="form-group" show-errors>
          <input name="companyName" type="text" ng-model="companyName" id="companyName" class="form-control" placeholder="Company Name" required>
          <div ng-messages="organizationForm.companyName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          braquet.io/organizations/<input name="urlName" type="text" ng-model="urlName" id="urlName" class="form-control" placeholder="url Display Name" required>
          <div ng-messages="organizationForm.urlName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Display name is required. This is how your company name will appear in your url.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label>
            <input name="isManufacturer" type="checkbox" ng-model="isManufacturer" id="isManufacturer">
            <span>Is this a manufacturer?</span>
          </label>
        </div>

        <div class="form-group" show-errors>
          <input name="industry" type="text" ng-model="industry" id="industry" class="form-control" placeholder="Industry">
          <div ng-messages="organizationForm.industry.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Industry is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="productTypes" type="text" ng-model="productTypes" id="productTypes" class="form-control" placeholder="Select Product Types">
          <div ng-messages="organizationForm.productTypes.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product Types are required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>

          <md-chips name="panel_models" ng-model="panel_models" md-autocomplete-snap md-require-match="true" md-no-cache="true">

            <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in getMatches(searchText)"
              md-item-text="item.model"
              md-min-length="0"
              placeholder="Please select panel model">
                <span md-highlight-text="searchText">
                  {{item.manufacturer}}, {{item.model}}
                </span>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.manufacturer}}, {{$chip.model}}</span>
            </md-chip-template>

          </md-chips>
          <div ng-messages="organizationForm.panel_models.$error" role="alert">
            <p class="help-block error-text" ng-message="md-max-chips">Please select only from available panel models.</p>
          </div>
        </div>

         <div class="form-group" show-errors>
          <input name="url" type="text" ng-model="url" id="url" class="form-control" placeholder="Company Website" required>
          <div ng-messages="organizationForm.url.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company Website is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="address1" type="text" ng-model="address1" id="address1" class="form-control" placeholder="Address Line 1">
          <div ng-messages="organizationForm.address1.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address Line 1 is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="address2" type="text" ng-model="address2" id="address2" class="form-control" placeholder="Address Line 2">
        </div>

        <div class="form-group" show-errors>
          <input name="city" type="text" ng-model="city" id="city" class="form-control" placeholder="City">
          <div ng-messages="organizationForm.city.$error" role="alert">
            <p class="help-block error-text" ng-message="required">City is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="state" type="text" ng-model="state" id="state" class="form-control" placeholder="State">
          <div ng-messages="organizationForm.state.$error" role="alert">
            <p class="help-block error-text" ng-message="required">State is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="zipcode" type="text" ng-model="zipcode" id="zipcode" class="form-control" placeholder="Zipcode">
          <div ng-messages="organizationForm.zipcode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Zipcode is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="country" type="text" ng-model="country" id="country" class="form-control" placeholder="Country">
          <div ng-messages="organizationForm.country.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <input name="about" type="text" ng-model="about" id="about" class="form-control" placeholder="About">
        </div>

        <div class="form-group" show-errors>
         <input name="standardPaymentTerms" type="text" ng-model="standardPaymentTerms" id="standardPaymentTerms" class="form-control" placeholder="Standard Payment Terms">
       </div>

       <div class="form-group" show-errors>
         <label>
           <input name="outsourceDelivery" type="checkbox" ng-model="outsourceDelivery" id="outsourceDelivery">
           <span>Is Delivery Outsourced?</span>
         </label>
       </div>

       <div class="form-group" show-errors>
         <select name="bankability" ng-model="bankability" id="bankability" class="form-control">
           <option value="">Bankability</option>
           <option value="Tier-1">Tier-1</option>
           <option value="Tier-2">Tier-2</option>
           <option value="Tier-3">Tier-3</option>
           <option value="Bankrupt">Bankrupt</option>
         </select>
       </div>

       <div class="form-group" show-errors>
         <select name="leadTime" ng-model="leadTime" id="leadTime" class="form-control">
           <option value="">Lead Time</option>
           <option value="0-2">0-2 Weeks</option>
           <option value="2-4">2-4 Weeks</option>
           <option value="4-6">4-6 Weeks</option>
           <option value="6-10">6-10 Weeks</option>
           <option value="10-14">10-14 Weeks</option>
           <option value=">14">>14 Weeks</option>
         </select>
       </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
