<section class="container organizations list-view border" ng-controller="OrganizationsController" ng-init="find()">
    <img src="/modules/core/client/img/loaders/loader.gif" style="display: block; margin:0 auto;" ng-if="!organizations.$resolved">

    <div id="organization-list-page" ng-show="organizations.$resolved">
      <div class="page-header">
          <div class="row">
              <div class="col-md-6">
                  <h3>Companies:</h3>
              </div>
              <div class="col-md-4" style="margin-top: 2em">
                  <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
              </div>
          </div>
      </div>

      <div>
        <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      </div>

      <div class="list-group">
          <a ng-repeat="organization in pagedItems" ui-sref="organizations.view({organizationId: organization._id})" class="list-group-item col-sm-12">

            <img class="company-logo" ng-src="{{organization.logoImageUrl}}">
            <div class="profile-info">
              <h5 class="list-group-item-heading" ng-bind="organization.companyName"></h5>
              <div class="detail">
                  <small><span class="glyphicon glyphicon-map-marker"></span><span ng-bind="organization.address1"></span> <span ng-bind="organization.address2"></span>, <span ng-bind="organization.city"></span>, <span ng-bind="organization.state"></span> <span ng-bind="organization.zipcode"></span> <span ng-bind="organization.country"></span></small><br>
                  <small><span class="glyphicon glyphicon-tags"></span><span ng-bind="organization.industry"></span></small>,
                  <small><span ng-bind="organization.productTypes"></span></small>
              </div>
            </div>
          </a>
      </div>

      <div>
        <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      </div>
    </div>
</section>
