<section class="organization container list-view border profile" ng-controller="PublicViewOrganizationController" ng-init="findOne()">
    <img src="/modules/core/client/img/loaders/loader.gif" style="display: block; margin:0 auto;" ng-if="!organization.$resolved">
    <div id="organization-view-public" ng-show="organization.$resolved">
      <div class="page-header">
          <div>
              <div class="profile-photo">

                  <img ng-src="{{organization.logoImageUrl}}">
              </div>
              <div class="content no-wrap title-content">
                  <div class="title name">
                      <span ng-bind="organization.companyName"></span>
                  </div>
                  <div class="reviews">
                   <rating ng-model="organization.avg_review" readonly="true" on-hover="" aria-labelledby="default-rating"></rating> <span>{{organization.reviews_length}} Reviews</span>
                  </div>
                   <div class="menu edit">
                     <a ui-sref="organizations.view({name: organization.urlName})">
                          <span class="glyphicon glyphicon-envelope"></span><span>Login to contact seller</span>
                      </a>
                   </div>
                  <div class="bio">
                      <span ng-bind="organization.about"></span>
                  </div>
                  <small><span class="glyphicon glyphicon-map-marker"></span><span ng-bind="organization.address1"></span> <span ng-bind="organization.address2"></span>, <span ng-bind="organization.city"></span>, <span ng-bind="organization.state"></span> <span ng-bind="organization.zipcode"></span> <span ng-bind="organization.country"></span></small><br>
                  <small><span class="glyphicon glyphicon-tags"></span><span ng-bind="organization.industry"></span></small>,
                  <small><span ng-bind="organization.productTypes"></span></small>

                  <div class="menu split">
                      <a ui-sref="organizations.view({name: organization.urlName})">
                          <span class="glyphicon glyphicon-star"></span><span>Login to write anonymous review</span>
                      </a>
                      <a ui-sref="organizations.view({name: organization.urlName})">
                          <span class="glyphicon glyphicon-usd"></span><span>Login to submit quote</span>
                      </a>
                  </div>
              </div>
          </div>

          <ul class="nav nav-tabs">
            <li ng-class="{ active: shouldShowPrices }"><a ng-click="showPrices()">{{organization.priceReviews.length}} Quotes</a></li>
            <li ng-class="{ active: shouldShowReviews }"><a ng-click="showReviews()">{{organization.reviews.length}} Reviews</a></li>
            <li ng-class="{ active: shouldShowProducts }"><a ng-click="showProducts()">{{organization.panel_models.length}} Products</a></li>
          </ul>
      </div>
      <div class="row" ng-show="shouldShowReviews">
          <div class="box no-border reviews">
              <div class="content no-wrap">
                  <div class="sub-title name">
                      <span ng-bind="organization.reviews.length"></span> <span> Reviews</span>
                  </div>
                  <div class="list-group" ng-show="maxViewsExceeded()">
                    <a ui-sref="authentication.signup"><span>Please Sign Up to see more Reviews!</span></a>
                  </div>
                  <div class="list-group" ng-show="!maxViewsExceeded()">
                      <div class="list-group-item col-sm-12" ng-repeat="review in organization.reviews">
                          <img ng-src="{{organization.logoImageUrl}}" class="profile">
                          <div class="detail no-wrap">
                              <a class="project-title">
                                  <div class="sub-title">"<span class="list-group-item-heading" ng-bind="review.title"></span>"</div>
                                  <rating ng-model="review.rating" readonly="true" on-hover="" aria-labelledby="default-rating"></rating>
                                  <div class="review-user"><small>By
                                  <span>anonymous</span> on
                                  <span ng-bind="review.created | date:'mediumDate'"></span></small>
                                  </div>
                                  <div class="review-content"><span class="list-group-item-text" ng-bind="review.content"></span></div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
              <div class="row" ng-show="shouldShowPrices">
            <div class="box no-border">
                <div class="content no-wrap">
                    <div class="sub-title name">
                        <span ng-bind="organization.price_reviews_length"></span> <span> Quotes</span>
                    </div>
                    <div class="list-group" ng-show="maxViewsExceeded()">
                      <a ui-sref="authentication.signup"><span>Please Sign Up to see more Quotes!</span></a>
                    </div>
                    <div class="list-group" ng-show="!maxViewsExceeded()">
                        <div class="list-group-item col-sm-12" ng-repeat="priceReview in organization.priceReviews">

                            <div class="detail no-wrap">

                                    <section>
                                    <img ng-src="{{organization.logoImageUrl}}" class="profile">
                                            <div class="quote-header no-wrap">
                                                 <div>
                                                 <small>
                                                 <div>
                                                    <span class="list-group-item-text" ng-bind="priceReview.quoteDate | date:'mediumDate'"></span>
                                                  </div>
                                                  <div ng-if="priceReview.includesShipping">
                                                    Delivered quote to <span class="list-group-item-text" ng-bind="priceReview.shippingLocation"></span>
                                                  </div>
                                                  <div ng-if="!priceReview.includesShipping">
                                                    <span class="list-group-item-text warning">Does not include shipping cost</span>
                                                  </div>
                                                </small>
                                                </div>
                                            </div>
                                        <div>
                                            <table class="table quote">
                                                <thead>
                                                    <tr>
                                                        <th>Unit Price</th>
                                                        <th>Description</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="line-item">
                                                        <td>
                                                            <span class="list-group-item-heading" ng-bind="priceReview.price / 100 | currency"></span> per watt
                                                        </td>
                                                        <td>
                                                            <span class="list-group-item-text" ng-bind="priceReview.stcPower"></span> W <span class="list-group-item-text" ng-bind="priceReview.manufacturer"></span> <span class="list-group-item-text" ng-bind="priceReview.panelType"></span>crystalline Solar Module
                                                        </td>
                                                        <td>
                                                            <span class="list-group-item-text" ng-bind="priceReview.quantity"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row" ng-show="shouldShowProducts">
          <div class="box title-content no-border product">
              <div class="content no-wrap">
                  <div class="sub-title name">
                      <span>Products</span>
                  </div>
                  <div class="list-group">
                      <div class="list-group-item col-sm-2" ng-repeat="panel_model in organization.panel_models">
                        <img src="/modules/core/client/img/asset/generic-module.jpg">
                          <div class="detail">
                              <a class="project-title">
                                  <!-- ng-show="authentication.user._id == project.user._id" -->
                                  <h4 class="list-group-item-heading" ng-bind="panel_model.model"></h4><small class="manufacturer"><span>by <span ng-bind="panel_model.manufacturer"></span></span></small>
                              </a>
                              <div class="specifications sub-text">
                                  Power (w): <span ng-bind="panel_model.stcPower"></span><br>
                                  Module Efficiency (%): <span ng-bind="panel_model.stcModuleEfficiency"></span><br>
                                  Made in: <span ng-bind="panel_model.manufacturingLocations"></span><br>
                              </div>

                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>
