<div ng-controller="OrganizationsController" ng-init="findOne()">
    <section class="organization-view container">
        <div class="page-header">
            <div class="organization-header">
                <h2 ng-bind="organization.name"></h2>
            </div>
        </div>

        <div class="form-horizontal data">
        <div class="form-group">
            <label class="control-label col-sm-2">Industry: </label>
            <div class="col-sm-4">
                <p ng-bind="organization.industry"></p>
            </div>
        </div>

        <fieldset>
          <div class="form-group text-center">
            <img ng-src="{{organization.logoImageUrl}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
          </div>
          <div class="text-center form-group">
            <span class="btn btn-default btn-file">
                Select logo <input type="file" nv-file-select uploader="uploader">
            </span>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
            <button class="btn btn-default cancel" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>Company Logo Changed Successfully</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
    </section>
</div>