<section class="organization container list-view border profile">
    <div class="page-header">
        <div>
            <div class="profile-photo">
                <!-- <img ng-src="{{organization.logo}}"> -->
                <img ng-src="{{organization.logoImageUrl}}">
            </div>
            <div class="content no-wrap title-content">
                <div class="title name">
                    <span ng-bind="organization.companyName"></span>
                </div>
                <div class="bio">
                    <span ng-bind="organization.about"></span>
                </div>
                <small><span class="glyphicon glyphicon-map-marker"></span><span ng-bind="organization.address1"></span> <span ng-bind="organization.address2"></span>, <span ng-bind="organization.city"></span>, <span ng-bind="organization.state"></span> <span ng-bind="organization.zipcode"></span> <span ng-bind="organization.country"></span></small><br>
                <small><span class="glyphicon glyphicon-tags"></span><span ng-bind="organization.industry"></span></small>,
                <small><span ng-bind="organization.productTypes"></span></small>

                <div class="menu">
                    <a ui-sref="organizations.view({organizationId: organization._id})">
                        <span class="glyphicon glyphicon-new-window"></span><span>Login to Write an anonymous review</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="box no-border reviews">
            <div class="content no-wrap">
                <div class="sub-title name">
                    <span ng-bind="organization.reviews.length"></span> <span> Reviews</span>
                </div>
                <div class="list-group">
                    <div class="list-group-item col-sm-12" ng-repeat="review in organization.reviews">
                        <!-- <div class="menu pull-right" ng-show="authentication.user._id == review.user._id">
                            <a ui-sref="reviews.edit({reviewId: review._id})">
                                <span class="glyphicon glyphicon-new-window"></span><span>Edit Review</span>
                            </a>
                        </div> -->
                        <img ng-src="{{organization.logoImageUrl}}" class="profile">
                        <div class="detail no-wrap">
                            <a class="project-title" ui-sref="reviews.view({reviewId: review._id})">
                                <div class="sub-title">"<span class="list-group-item-heading" ng-bind="review.title"></span>"</div>
                                <rating ng-model="review.rating" readonly="true" on-hover="" aria-labelledby="default-rating"></rating>
                                <div class="review-user"><small>By
                                <span ng-bind="review.user.displayName"></span> on
                                <span ng-bind="review.created | date:'mediumDate'"></span></small>
                                </div>
                                <div class="review-content"><span class="list-group-item-text" ng-bind="review.content"></span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box title-content no-border product">
            <div class="content no-wrap">
                <div class="sub-title name">
                    <span>Products</span>
                </div>
                <div class="list-group">
                    <div class="list-group-item col-sm-2" ng-repeat="panel_model in organization.panel_models">
                        <img ng-src="{{panel_model.panelPhotoUrl}}">
                        <div class="detail">
                            <a class="project-title">
                                <!-- ng-show="authentication.user._id == project.user._id" -->
                                <h4 class="list-group-item-heading" ng-bind="panel_model.model"></h4><small class="manufacturer"><span>by <span ng-bind="panel_model.manufacturer"></span></span></small>
                            </a>
                            <div class="specifications sub-text">
                                Power (w): <span ng-bind="panel_model.stcPower"></span><br> Module Efficiency (%): <span ng-bind="panel_model.stcModuleEfficiency"></span><br> Made in: <span ng-bind="panel_model.manufacturingLocations"></span><br>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
