<section ng-controller="HomeController">
    <section class="welcome banner">
        <div class="detail notice container">
            <div class="title">
            	<span ng-if="!authentication.user.emailVerified">Thank you for signing up to Braquet. Your account is being verified and you should hear back from us within the next 24 hours. Once we look over your information, we will send you an email with next steps.</span>
            	<span ng-if="authentication.user.emailVerified">Congratulations! Your account has been verified. Start looking for your next supplier/buyer <a href="/search">here ></a></span>
            </div>
        </div>
    </section>
</section>
