<section class="list-view" ng-controller="CatalogController">
    <img src="/modules/core/client/img/loaders/loader.gif" style="display: block; margin:0 auto;" ng-if="resolvedResources !== expectedResources">
    <div id="catalog-page" ng-show="resolvedResources === expectedResources">
        <div class="page-header">
            <div class="row">
                <h4 class="side-title col-md-3"><b>Best module suppliers</b></h4>
                <div class="col-md-9 search extend">
                  <form ng-submit="searchSubmit(foundOrganization, searchOrganizationText)">
                    <md-autocomplete
                      name="foundOrganization"
                      ng-model="foundOrganization"
                      md-selected-item="foundOrganization"
                      md-search-text="searchOrganizationText"
                      md-items="man in orgSearch(searchOrganizationText)"
                      md-item-text="man.companyName"
                      placeholder="Search for solar suppliers">
                      <md-item-template>
                        <span md-highlight-text="searchOrganizationText" md-highlight-flags="^i">{{man.companyName}}</span>
                      </md-item-template>
                      <md-not-found>
                        No brands matching "{{searchOrganizationText}}" were found.
                      </md-not-found>
                    </md-autocomplete>
                  </form>
                </div>
            </div>
        </div>
        <section>
            <div class="menu">
                <button class="visible-xs btn-primary last" ng-click="toggleFilter()" data-toggle="collapse" data-target="side-navbar">See Filters</button>
                <button ng-if="false" class="btn-primary last" ng-click="sortBy()" data-target="side-navbar">Sort By Price</button>
            </div>
            <div class="col-sm-3 side-navbar {{hiddenFilterClass}}" id="side-navbar">
                <label>Filters | <a class="clear-filter" ng-click="clearAllFilter()">Clear all</a></label><br>


                <div class="list-group quantity-filter">
                    <span class="catalog-label"><small>Quantity ></small></span>
                    <li ng-repeat="quant in quantities">
                        <label><input type="radio" name="quantity" ng-model="$parent.quantity" ng-value="quant" analytics-on="click" analytics-event="Click Quantity Filter: {{$parent.quantity}}" ng-change="updateFilter()" /> <small>{{quant}}</small></label><br>
                    </li>
                </div>

                <div class="list-group">
                    <span class="catalog-label"><small>Supplier Type ></small></span>
                    <div ng-if="isman || isreseller"><a class="clear-filter" ng-click="clearSectionCheckboxes('supplierType')">Clear</a></div>
                    <li>
                      <label>
                        <input type="checkbox" ng-model="isman" analytics-on="click" analytics-event="Click Manufacturer Only Filter: {{!isman}}" ng-change="updateFilter()">
                        <span><small>Manufacturers</small></span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox" ng-model="isreseller" analytics-on="click" analytics-event="Click Reseller Only Filter: {{!isreseller}}" ng-change="updateFilter()">
                        <span><small>Resellers</small></span>
                      </label>
                    </li>
                </div>

                <div class="list-group">
                    <span class="catalog-label"><small>Technology Type ></small></span>
                    <div ng-if="query.crys"><a class="clear-filter" ng-click="clearSectionCheckboxes('crystallineType')">Clear</a></div>
                    <li ng-repeat="crys in crystallineTypes">
                        <label>
                      <input type="checkbox" ng-model="crysCheckboxes[crys]" analytics-on="click" analytics-event="Click Supplier Type Filter: {{crys}}" ng-change="updateFilter()">
                      <span><small>{{crys}}</small></span>
                    </label>
                    </li>
                </div>

                <div class="list-group">
                    <span class="catalog-label"><small>Frame Color ></small></span>
                    <div ng-if="query.color"><a class="clear-filter" ng-click="clearSectionCheckboxes('frameColor')">Clear</a></div>
                    <li ng-repeat="color in frameColors">
                        <label>
                      <input type="checkbox" ng-model="fColorCheckboxes[color]" analytics-on="click" analytics-event="Click Frame Color Filter: {{color}}" ng-change="updateFilter()">
                      <span><small>{{color}}</small></span>
                    </label>
                    </li>
                </div>

                <div class="list-group">
                    <span class="catalog-label"><small>Number of Cells ></small></span>
                    <div ng-if="query.cells"><a class="clear-filter" ng-click="clearSectionCheckboxes('numCells')">Clear</a></div>
                    <li ng-repeat="cells in numberOfCells">
                        <label>
                      <input type="checkbox" ng-model="numCellsCheckboxes[cells]" analytics-on="click" analytics-event="Click Number of Cells Filter: {{cells}}" ng-change="updateFilter()">
                      <span><small>{{cells}}</small></span>
                    </label>
                    </li>
                </div>

                <div class="list-group">
                    <span class="catalog-label"><small>Manufacturing Locations ></small></span>
                    <div ng-if="query.locs"><a class="clear-filter" ng-click="clearSectionCheckboxes('manufacturingLocations')">Clear</a></div>
                    <li ng-repeat="loc in manufacturingLocations">
                        <label>
                      <input type="checkbox" ng-model="manufacturingLocationsCheckboxes[loc]" analytics-on="click" analytics-event="Click Manufacturing Location Filter: {{loc}}" ng-change="updateFilter()">
                      <span><small>{{loc}}</small></span>
                    </label>
                    </li>
                </div>

              <!-- <div class="list-group">
                  <span class="catalog-label"><small>Module Wattage ></small></span>
                  <li ng-repeat="range in ranges">
                    <label>
                      <input type="checkbox" ng-model="wattCheckboxes[range]" ng-change="updateFilter()">
                      <span><small>{{range}}</small></span>
                    </label>
                  </li>
              </div> -->

                <div class="list-group">
                    <span class="catalog-label"><small>Brand ></small></span>
                    <div ng-if="query.man"><a class="clear-filter" ng-click="clearSectionCheckboxes('brand')">Clear</a></div>
                    <li ng-repeat="man in manufacturers">
                        <label>
                      <input type="checkbox" ng-model="orgCheckboxes[man]" analytics-on="click" analytics-event="Click Brand Filter: {{man}}" ng-change="updateFilter()">
                      <span><small>{{man}}</small></span>
                    </label>
                    </li>
                </div>
            </div>

            <div class="horizontal list-group col-sm-7">
                <div class="alert alert-warning text-center" ng-if="resolvedResources === expectedResources && !orgs.length">
                    No search results
                </div>

                Selected Filters: <a class="clear-filter" ng-click="clearAllFilter()">Clear all</a>
                <div class="chips">
                  <md-chips ng-model="selectedReadOnlyFilters" name="filter-chips" readonly="true"
                          md-removable="false">
                    <md-chip-template>
                      <strong>{{$chip}}</strong>
                    </md-chip-template>
                  </md-chips>

                  <md-chips ng-show="selectedFilters.length" ng-model="selectedFilters" name="filter-chips" readonly="true"
                          md-removable="true" ng-change="updateFilter()">
                    <md-chip-template>
                      <strong>{{$chip}}</strong>
                    </md-chip-template>
                  </md-chips>
                </div>
                <div ng-bind="showNumberOfResultsOnPage(query.page || 1, orgs.length, itemsPerPage, totalCount)">
                </div>
                <div>
                    <pagination ng-show="totalCount" boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="totalCount" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                </div>
                <div ng-repeat="organization in orgs" class="list-group-item col-sm-12">
                    <a ng-click="routeToOrg(organization)">
                      <img class="company-logo" ng-src="{{organization.logoImageUrl}}">
                    </a>
                    <div class="profile-info">
                        <div>
                            <a class="company-name" ng-click="routeToOrg(organization)" ng-bind="organization.companyName">
                            </a>

                            <div class="reviews" ng-click="routeToOrg(organization, 'reviews')">
                                <rating ng-model="organization.avg_review" readonly="true" on-hover="" aria-labelledby="default-rating"></rating>
                                <a class="review-link">{{organization.reviews_length}} reviews</a>
                            </div>
                            <div class="detail">
                                <small><span class="glyphicon glyphicon-map-marker"></span><span ng-bind="organization.address1"></span> <span ng-bind="organization.address2"></span>, <span ng-bind="organization.city"></span>, <span ng-bind="organization.state"></span> <span ng-bind="organization.zipcode"></span> <span ng-bind="organization.country"></span></small><br>
                            </div>
                        </div>


                        <div class="menu">
                            <a ng-if="organization._id !== authentication.user.organization" ng-click="authentication.user ? contactSupplier($event, organization) : showSignUpAlert($event)">
                                <span class="glyphicon glyphicon-envelope"></span><span>Contact seller</span>
                            </a>
                            <a ng-if="organization._id !== authentication.user.organization" ng-click="authentication.user ? followOrganization($event, organization) : showSignUpAlert($event)">
                              <span ng-class="{ 'glyphicon': true, 'glyphicon-plus': !displayUserIsFollowing(organization), 'glyphicon-ok': displayUserIsFollowing(organization) }"></span>
                              <span>{{displayUserIsFollowing(organization) ? ('Following') : ('Follow') }}</span>
                            </a>
                        </div>

                        <div class="brand-list">
                            <table>
                                <tr class="header">
                                    <td ng-show="showModule(organization, 'Poly')" ng-click="routeToOrg(organization, null, 'Poly')">
                                        <div class="img-wrapper" >
                                          <span class="helper"></span>
                                          <img src="/modules/core/client/img/asset/poly-module.jpg">
                                        </div>
                                        <div class="category">
                                          <small>Polycrystalline Module</small>
                                          <div><small>(USD per watt)</small></div>
                                        </div>
                                    </td>

                                    <td ng-show="showModule(organization, 'Mono')" ng-click="routeToOrg(organization, null, 'Mono')">
                                        <div class="img-wrapper">
                                          <span class="helper"></span>
                                          <img src="/modules/core/client/img/asset/mono-module.jpg">
                                        </div>
                                        <div class="category">
                                          <small>Monocrystalline Module</small>
                                          <div><small>(USD per watt)</small></div>
                                        </div>
                                    </td>

                                    <td ng-show="showModule(organization, 'CIGS')" ng-click="routeToOrg(organization, null, 'CIGS')">
                                        <div class="img-wrapper">
                                          <span class="helper"></span>
                                          <img src="/modules/core/client/img/asset/cigs-module.png">
                                        </div>
                                        <div class="category">
                                          <small>Thin-Film CIGS Module</small>
                                          <div><small>(USD per watt)</small></div>
                                        </div>
                                    </td>

                                    <td ng-show="showModule(organization, 'CdTe')" ng-click="routeToOrg(organization, null, 'CdTe')">
                                        <div class="img-wrapper">
                                          <span class="helper"></span>
                                          <img src="/modules/core/client/img/asset/cdte-module.png">
                                        </div>
                                        <div class="category">
                                          <small>Thin-Film CdTe Module</small>
                                          <div><small>(USD per watt)</small></div>
                                        </div>
                                    </td>
                                </tr>

                                <tr ng-repeat="brand in organization.manufacturers" ng-show="showBrand(brand, organization)" class="line-item">
                                    <td ng-show="showModule(organization, 'Poly')" ng-click="routeToOrg(organization, 'Poly')">
                                        <span ng-bind="isValidQuote(organization, brand, 'Poly') ? (organization.brands[brand]['Poly'][query.quantity]/100 | currency): 'no quotes'" class="price"></span><br>
                                        <span><small>{{brand}}</small></span>
                                    </td>

                                    <td ng-show="showModule(organization, 'Mono')" ng-click="routeToOrg(organization, 'Mono')">
                                        <span ng-bind="isValidQuote(organization, brand, 'Mono') ? (organization.brands[brand]['Mono'][query.quantity]/100 | currency): 'no quotes'" class="price"></span><br>
                                        <span><small>{{brand}}</small></span>
                                    </td>

                                    <td ng-show="showModule(organization, 'CIGS')" ng-click="routeToOrg(organization, 'CIGS')">
                                        <span ng-bind="isValidQuote(organization, brand, 'CIGS') ? (organization.brands[brand]['CIGS'][query.quantity]/100 | currency): 'no quotes'" class="price"></span><br>
                                        <span><small>{{brand}}</small></span>
                                    </td>

                                    <td ng-show="showModule(organization, 'CdTe')" ng-click="routeToOrg(organization, 'CdTe')">
                                        <span ng-bind="isValidQuote(organization, brand, 'CdTe') ? (organization.brands[brand]['CdTe'][query.quantity]/100 | currency): 'no quotes'" class="price"></span><br>
                                        <span><small>{{brand}}</small></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-bind="showNumberOfResultsOnPage(query.page || 1, orgs.length, itemsPerPage, totalCount)">
                </div>
                <div>
                    <pagination ng-show="totalCount" boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="totalCount" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                </div>
            </div>
        </section>
    </div>
</section>
