<section ng-controller="HomeController" class="team container">
    <h2>Frequently Asked Questions</h2>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">Is Braquet a reseller site?</div>
            <div class="bio">
            <h5>
                No. We do not take a fee or commission from manufacturers or resellers and you will be in touch with the supplier directly.  We just provide the information so you can start a discussion with a supplier that’s appropriate for your exact needs.
            </h5>
            </div>
        </div>
    </section>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">How are reviews and quotes moderated on Braquet?</div>
            <div class="bio">
                <h5>
                    We do not alter or edit content that are submitted by our users. Only users are able to edit their content. Manufacturers and resellers do not have the ability to alter reviews about them. All of the quotes and reviews are reviewed by humans.
                </h5>
            </div>
        </div>
    </section>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">Can manufacturers and resellers review themselves?</div>
            <div class="bio">
                <h5>
                    We have a user verification process and do not allow manufacturers or resellers to submit reviews.
                </h5>
            </div>
        </div>
    </section>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">Can companies edit or remove reviews about them?</div>
            <div class="bio">
                <h5>
                    We do not allow manufacturers or resellers to remove reviews.
                </h5>
            </div>
        </div>
    </section>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">Can anyone submit reviews?</div>
            <div class="bio">
                <h5>
                    We have a user verification process to ensure that the community can benefit from the users’ contributions.
                </h5>
            </div>
        </div>
    </section>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">How are manufacturers and resellers ranked in the search?</div>
            <div class="bio">
                <h5>
                    The search result is based on our proprietary algorithm that takes reviews, quotes and other factors into account.
                </h5>
            </div>
        </div>
    </section>
    <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name">Can manufacturers ask customers to write reviews?</div>
            <div class="bio">
                <h5>
                    Yes, we encourage manufacturers to ask their customers to write reviews regarding customer service, product quality and other aspects of the business. These type of reviews give realistic insight to these suppliers only customers can provide.
                </h5>
            </div>
        </div>
    </section>
        <section class="list-view">
        <div class="content no-wrap title-content">
            <div class="title name"></div>
            <div class="bio">
                <ul>
                </ul>
            </div>
        </div>
    </section>
</section>