<section ng-controller="HomeController" class="team">
    <h3>Frequently Asked Questions</h3>
    <section class="list-view border container">
        <div class="content no-wrap title-content">
            <div class="title name">How are reviews and quotes moderated on Braquet?</div>
            <div class="bio">
            <ul>
                <li>We do not alter or edit content that are submitted by our users.</li>
                <li>Only users are able to edit their content. Manufacturers and resellers do not have the ability to alter reviews about them.</li>
                <li>All of the quotes and reviews are reviewed by humans.</li>
            </ul>
            </div>
        </div>
    </section>
    <section class="list-view border container">
        <div class="content no-wrap title-content">
            <div class="title name">Can manufacturers and resellers review themselves?</div>
            <div class="bio">
                <ul>
                    <li>We have a user verification process and do not allow manufacturers or resellers to submit reviews.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="list-view border container">
        <div class="content no-wrap title-content">
            <div class="title name">Can companies edit or remove reviews about them?</div>
            <div class="bio">
                <ul>
                    <li>We do not allow manufacturers or resellers to remove reviews.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="list-view border container">
        <div class="content no-wrap title-content">
            <div class="title name">Can anyone submit reviews?</div>
            <div class="bio">
                <ul>
                    <li>We have a user verification process to ensure that the community can benefit from the users’ contributions.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="list-view border container">
        <div class="content no-wrap title-content">
            <div class="title name">How are manufacturers and resellers ranked in the search?</div>
            <div class="bio">
                <ul>
                    <li>The search result is based on our proprietary algorithm that takes reviews, quotes and other factors into account.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="list-view border container">
        <div class="content no-wrap title-content">
            <div class="title name">Can manufacturers ask customers to write reviews?</div>
            <div class="bio">
                <ul>
                    <li>Yes, we encourage manufacturers to ask their customers to write reviews regarding customer service, product quality and other aspects of the business. These type of reviews give realistic insight to these suppliers only customers can provide.</li>
                </ul>
            </div>
        </div>
    </section>
</section>