<section ng-controller="HomeController">
<section class="banner jumbotron">
    <div class="detail container">
        <h1>We supply your hardware. <br>You develop solar projects.</h1>
        <a class="btn" href="/authentication/signup">Start listing your projects</a>
    </div>
    </section>

<div class="home container">
        <section id="hiw" class="col-sm-12">
        <h2>How it Works</h2>
            <div id="developers" class="col-sm-6">
                <img src="/modules/core/client/img/asset/hiw_icon1.png">
                <h4>List your on-going projects</h4>
                <div class="content">
                    <span>List your project to find the best hardware supplier and engineering services</span>
                </div>
            </div>
            <div id="epc" class="col-sm-6">
                <img src="/modules/core/client/img/asset/hiw_icon2.png">
                <h4>Wait for bids from providers</h4>
                <div class="content">
                    <span>Our network of 1st tier manufacturers and service providers will bid on your project.</span>
                </div>
            </div>
        </section>
        <section id="lapn" class="col-sm-12">
            <h2>We only supply hardware from 1st tier manufacturers</h2>
            <div id="fpyl" class="col-sm-6">
                <div class="detail">
                    <h3>Find a panel you love</h3>
                    <div class="content">
                        <span>List your project to find the best hardware supplier and engineering services</span>
                    </div>
                    <a class="btn" href="/authentication/signup">Sign up as a developer</a>
                </div>
            </div>
            <div id="brands" class="col-sm-6">
                <h4>Premium Brands</h4>
                <div class="content">
                    <div class="col-sm-12"><img src="/modules/core/client/img/asset/logo_canadian_solar.png">
                    </div>
                    <div class="col-sm-12"><img src="/modules/core/client/img/asset/logo_solar_world.png">
                    </div>

                    <div class="col-sm-12"><img src="/modules/core/client/img/asset/logo_yingli.png">
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</section>
