<section class="home" ng-controller="HomeController">
<section class="banner jumbotron">
    <div class="detail container">
        <h1>We supply your hardware. <br>You develop solar projects.</h1>
        <a class="btn" href="/authentication/signup">Start listing your projects</a>
    </div>
    </section>

<div class="container">
        <section id="hiw" class="col-sm-12">
            <div id="developers" class="col-sm-6">
                <img src="http://www.ugei.com/themes/uge/newimages/solar-5-2.png">
                <h4>List your on-going projects</h4>
                <div class="content">
                    <span>List your project to find the best hardware supplier and engineering services</span>
                </div>
            </div>
            <div id="epc" class="col-sm-6">
                <img src="http://www.ugei.com/angularjs/service/assets/working.png">
                <h4>Wait for bids from providers</h4>
                <div class="content">
                    <span>Our network of 1st tier manufacturers and service providers will bid on your project.</span>
                </div>
            </div>
        </section>
        <section id="lapn" class="col-sm-12">
            <h2>We only supply hardware from 1st tier manufacturers</h2>
            <div id="fpyl" class="col-sm-6">
                <div class="detail">
                    <h3>Find a panel you love</h3>
                    <div class="content">
                        <span>List your project to find the best hardware supplier and engineering services</span>
                    </div>
                    <a class="btn" href="/authentication/signup">Sign up as a developer</a>
                </div>
            </div>
            <div id="brands" class="col-sm-6">
                <h4>Premium Brands</h4>
                <div class="content">
                    <div class="col-sm-12"><img src="https://static1.squarespace.com/static/56c296a29f72661201267439/56c2a8d9044262b4354fa192/56c2a901044262b4354fa285/1455597825808/canadian-solar-logo.png">
                    </div>
                    <div class="col-sm-12"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/SolarWorld_Logo.svg/709px-SolarWorld_Logo.svg.png">
                    </div>

                    <div class="col-sm-12"><img src="http://pvshop.eu/public/assets/images/logo/yingli.png">
                    </div>
                </div>
            </div>
        </section>
        <section id="email_signup" class="col-sm-12">
            <h2>Be the first to know.</h2>
            <p>Sign up for our newsletter!</p>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
               
                
            </form>
        </section>
        
    </div>
</section>
