<section ng-controller="HomeController">
    <section class="welcome banner">
        <div class="detail container">
            <h2>You're on<br> the list!</h2>
            <p>We’ll be sure to send you an invitation as soon as possible so you can start connecting with new suppliers.</p>
        <!--     <div class="signup">
                <h2>Want early access?</h2>
                <p>Get in sooner by inviting 3 suppliers or other developers/contractors:</p>
                <form>
                    <input type="text" name="EMAIL" placeholder="Type email here">
                    <input type="submit" value="Submit">
                    <input type="text" name="EMAIL" placeholder="Type email here">
                    <input type="submit" value="Submit">
                    <input type="text" name="EMAIL" placeholder="Type email here">
                    <input type="submit" value="Submit">
                </form> -->
            </div>
        </div>
    </section>
</section>
