@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.oauth img {
  width:20px; 
  float:left;
}
button.fb, .btn-primary.fb:hover {
  background:#3b5998;
}
button.linked-in, .btn-primary.linked-in:hover {
  background:#0077B5;
}
.signin {
    padding: 40px 50px 40px 50px;
    min-width: 268px;
    max-width: 450px;
    text-align: center;
    margin-bottom: 10px;
}
.signin form {
  padding: 0;
  min-width: initial;
}
.signin .btn-primary, .signin .btn-default {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .signin {
      padding: initial;
      min-width: inherit;
  }
}
.signup {
    margin: 20px 0;
    padding: 0 0 40px 0;
    max-width: 450px;
    font-weight: 700;
}
.remember-password {
    float: left;
}
.forgot-password {
    float: right;
}