<section>
  <div class="col-md-12">
    <form name="reviewForm" class="form-horizontal" ng-submit="create(reviewForm.$valid)" novalidate>
      <h2>Create a company review</h2>
      <fieldset>
      <div class="form-group">
          <label for="title">Overall rating</label><br>
          <rating name="rating" id="rating" ng-model="rating" read-only="false" on-hover="hoveringOver(value)" aria-labelledby="default-rating"></rating>
      </div>
        <div class="form-group" show-errors>
          <label for="title">Review title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="reviewForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Review title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <select name="category" ng-model="category" id="category" class="form-control" required>
            <option value="">---Please describe your relationship with the company---</option>
            <option value="Currently doing business with company">Currently doing business with the company</option>
            <option value="General">Previously conducted business with the company</option>
            <option value="Discussed business with company">Discussed business with the company</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="content">Your review</label>
          <textarea name="content" ng-model="content" id="content" minLength="1" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group anonymous">
          <input type="checkbox" ng-model="anonymous">
          <span><small>Check if you would like this review to be anonymous</small></span>
      </div>
        <div class="form-group submit">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
