<section class="container" ng-init="findOne()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h3 ng-bind="panel.model"></h3>
        <button type="button" ui-sref="panels.edit({panelId: panel._id})">edit</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Manufacturer</strong></div>
        <div class="col-md-6" ng-bind="panel.manufacturer"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Model</strong></div>
        <div class="col-md-6" ng-bind="panel.model"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Crystalline Type</strong></div>
        <div class="col-md-6" ng-bind="panel.crystallineType"></div>
      </div>
      <hr/>
      <div class="row">
        <fieldset>
          <div class="form-group text-center">
            <img ng-src="{{panel.panelPhotoUrl}}" class="img-thumbnail user-profile-picture">
          </div>
          <div class="text-center form-group">
            <span class="btn btn-default btn-file">
                Select Panel photo <input type="file" nv-file-select uploader="uploader">
            </span>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
            <button class="btn btn-default cancel" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>Panel Photo Changed Successfully</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
    </div>
    </div>
  </div>
</section>
