<section class="project-view container" ng-controller="ProjectsController" ng-init="findOne()">
    <div class="page-header">
        <div class="project-header">
            <h2 ng-bind="project.title"></h2>
            <!-- only show this edit/delete option to buyers -->
            <div class="pull-left edit-delete" ng-show="authentication.user._id == project.user._id">
                <a class="btn btn-primary" ui-sref="projects.edit({projectId: project._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
    </div>

<div class="form-horizontal data">
    <div class="form-group">
        <label class="control-label col-sm-2">Top Bid: </label>
        <div class="col-sm-4">
            <p ng-bind="(project.bids[0]) ? (project.bids[0].bid_price/100 | currency) + '/W from ' + project.bids[0].user.displayName : 'Currently No Bids!'"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">System Capacity: </label>
        <div class="col-sm-4">
            <p ng-bind="project.system_capacity"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Bid Deadline:</label>
        <div class="col-sm-4">
            <p ng-bind="project.bid_deadline | date:'mediumDate'"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Shipping Address:</label>
        <div class="col-sm-4">
            <p ng-bind="project.shipping_address"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Panel Wattage:</label>
        <div class="col-sm-4">
            <p ng-bind="project.panel_wattage"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Panel Type:</label>
        <div class="col-sm-4">
            <p ng-bind="project.panel_type"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Remaining Time:</label>
        <div class="col-sm-4">
            <span class="bg-danger" countdown='' date="project.bid_deadline"/>
        </div>
    </div>
</div>
<br />
<div class="list-group">
    <a ng-repeat="bid in project.bids" class="list-group-item">
    <!-- ng-show="authentication.user._id == project.user._id" -->
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="bid.created | date:'mediumDate'"></span>
        by
        <span ng-bind="bid.user.displayName"></span>
      </small>
      <h5 class="list-group-item-heading">Bid Price: <span ng-bind="bid.bid_price/100 | currency"></span>/W</h5>
      <h5 class="list-group-item-heading">Delivery Date: <span ng-bind="bid.delivery_date | date:'mediumDate'"></span></h5>
    </a>
</div>
</section>


<section class="bid-create container" ng-controller="BidsController" ng-init="findProject();createDate();">
  <div class="page-header">
    <h2>Place a Bid</h2>
  </div>
  <div class="col-md-12">
    <form name="bidForm" class="form-horizontal" ng-submit="create(bidForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="fob_shipping">FOB Shipping</label>
          <input name="fob_shipping" type="text" ng-model="fob_shipping" id="fob_shipping" class="form-control" placeholder="FOB Shipping" required>
          <div ng-messages="bidForm.fob_shipping.$error" role="alert">
            <p class="help-block error-text" ng-message="required">FOB Shipping is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="delivery_date">Delivery Date</label>
          <input name="delivery_date" type="date" min="{{date.currentDate | date:'yyyy-MM-dd'}}" max="{{date.threeYearAheadDate | date:'yyyy-MM-dd'}}" ng-model="date.value" id="bid_deadline" class="form-control" required>
          <div ng-messages="bidForm.delivery_date.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Delivery Date is required.</p>
            <p class="help-block error-text" ng-message="date">Invalid Date.</p>
            <p class="help-block error-text" ng-message="min">Delivery Date cannot be in the past</p>
            <p class="help-block error-text" ng-message="max">Delivery Date cannot exceed three years from current date.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="bid_price">Bid Price</label>
          <input name="bid_price" type="number" min="0.00" step="0.01" ng-model="bid_price" id="bid_price" class="form-control" placeholder="$0.00/Watt" required>
          <div ng-messages="bidForm.bid_price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bid Price is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="panel_wattage">Panel Wattage</label>
          <input name="panel_wattage" type="text" ng-model="panel_wattage" id="panel_wattage" class="form-control" placeholder="Panel Wattage" required>
          <div ng-messages="bidForm.panel_wattage.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Panel Wattage is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="manufacturer">Manufacturer</label>
          <input name="manufacturer" type="text" ng-model="manufacturer" id="manufacturer" class="form-control" placeholder="Manufacturer" required>
          <div ng-messages="bidForm.manufacturer.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Manufacturer is required.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
