<section class="bid-list container" ng-controller="BidsController" ng-init="findMyBids();">
  <div class="page-header">
    <h1>My Bids</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="bid in bids" ui-sref="bids.view({bidId: bid._id})" class="list-group-item">
    <!-- ng-show="authentication.user._id == bid.user._id" -->
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="bid.created | date:'mediumDate'"></span>
        by
        <span ng-bind="bid.user.displayName"></span>
      </small>
      <h3 class="list-group-item-heading">Project: <span ng-bind="bid.project_title"></span></h3>
      <h4 class="list-group-item-heading">Bid Value: <span ng-bind="bid.bid_price/100 | currency"></span>/W</h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="authentication.user.roles[0] == 'seller' && bids.$resolved && !bids.length">
    No bids yet, why don't you <a ui-sref="projects.list">bid on a project</a>?
  </div>
</section>