<section class="bid-list container" ng-controller="BidsController" ng-init="findMyBids();">
  <div class="page-header">
    <h2>My Bids</h2>
  </div>
  <div class="list-group">
    <a ng-repeat="bid in bids" ui-sref="bids.view({bidId: bid._id})" class="list-group-item">
    <!-- ng-show="authentication.user._id == bid.user._id" -->
      <small class="list-group-item-text">

        <span ng-bind="bid.created | date:'mediumDate'"></span>

      </small>
      <h4 class="list-group-item-heading"><span ng-bind="bid.project_title"></span></h4>
      <h5 class="list-group-item-heading">Bid: <span ng-bind="bid.bid_price/100 | currency"></span>/W</h5>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="authentication.user.roles[0] == 'seller' && bids.$resolved && !bids.length">
    No bids yet, why don't you <a ui-sref="projects.list">bid on a project</a>?
  </div>
</section>