<div ng-controller="BidsController" ng-init="findOne()">
    <section class="bid-view container">
        <div class="page-header">
            <div class="bid-header">
                <h2>My Bid</h2>
            </div>
        </div>

        <div class="form-horizontal data">
        <div class="form-group">
            <label class="control-label col-sm-2">FOB Shipping: </label>
            <div class="col-sm-4">
                <p ng-bind="bid.fob_shipping"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Delivery Date:</label>
            <div class="col-sm-4">
                <p ng-bind="bid.delivery_date | date:'mediumDate'"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Bid Price:</label>
            <div class="col-sm-4">
                <p><span ng-bind="bid.bid_price/100 | currency"></span>/W</p>
            </div>
        </div>
    </section>
</div>