<div ng-controller="BidsController" ng-init="findOne()">
    <section class="project-view container">
        <div class="page-header">
            <div class="project-header">
                <h2 ng-bind="project.title"></h2>
            </div>
        </div>
        <div class="form-horizontal data">
            <div class="form-group">
                <label class="control-label col-sm-2">System Capacity: </label>
                <div class="col-sm-4">
                    <p ng-bind="project.system_capacity"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Bid Deadline:</label>
                <div class="col-sm-4">
                    <p ng-bind="project.bid_deadline | date:'mediumDate'"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Shipping Address:</label>
                <div class="col-sm-4">
                    <p ng-bind="project.shipping_address"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Panel Wattage:</label>
                <div class="col-sm-4">
                    <p ng-bind="project.panel_wattage"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Panel Type:</label>
                <div class="col-sm-4">
                    <p ng-bind="project.panel_type"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="bid-view container">
        <div class="page-header">
            <div class="bid-header">
                <h2>My Bid</h2>
            </div>
        </div>

        <div class="form-horizontal data">
        <div class="form-group">
            <label class="control-label col-sm-2">FOB Shipping: </label>
            <div class="col-sm-4">
                <p ng-bind="bid.fob_shipping"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Delivery Date:</label>
            <div class="col-sm-4">
                <p ng-bind="bid.delivery_date | date:'mediumDate'"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Bid Price:</label>
            <div class="col-sm-4">
                <p ng-bind="bid.bid_price"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Panel Wattage:</label>
            <div class="col-sm-4">
                <p ng-bind="bid.panel_wattage"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Manufacturer:</label>
            <div class="col-sm-4">
                <p ng-bind="bid.manufacturer"></p>
            </div>
        </div>
       
        </div>
    </section>
</div>