<!-- The chat view -->
<section class="container" ng-controller="ChatController">
  <div class="page-header">
    <h1>Chat</h1>
  </div>
  <div class="list-group">
    <button type="submit" class="btn btn-primary" ng-click="showAddChats($event)">New Chat</button>
  </div>
  <ul class="list-group">
    <li ng-repeat="chat in chats"><a ng-click="selectChat(chat)">{{chat.recipient.displayName}}</a></li>
  </ul>
  <!-- The message form -->
  <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
      </div>
    </fieldset>
  </form>
  <ul class="list-unstyled">
    <!-- List all messages -->
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in chat.messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.displayName"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>
</section>
