<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center"></h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin border" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>

          <h2 for="user_role">Sign up on Braquet</h2>

          <select name="user_role" ng-model="credentials.user_role" id="user_role" class="form-control" required>
            <option value="">---Please select a role---</option>
            <option value="0">You specify/buy equipment for projects</option>
            <option value="1">You sell equipment for solar projects</option>
            <option value="2">Other</option> 
          </select>
          <div ng-messages="userForm.user_role.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please indicate whether you are requesting or supplying solar services and products.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <select name="organization" ng-model="credentials.organization" id="organization" class="form-control" required>
            <option value="">---Select Organization---</option>
            <option ng-repeat="org in organizations" value="{{org._id}}">{{org.companyName}}</option>
            <option value="other">Other</option>
          </select>

          <div ng-messages="userForm.user_role.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please indicate your organization or create another.</p>
          </div>
        </div>

        <fieldset ng-if="credentials.organization === 'other'">
          <div class="form-group" show-errors>
            <input type="text" id="organizationName" name="organizationName" class="form-control" ng-model="credentials.organizationForm.organizationName" placeholder="Organization Name" ng-required="credentials.organization === 'other'">
            <div ng-messages="userForm.organizationName.$error" role="alert" ng-required="credentials.organization === 'other'">
              <p class="help-block error-text" ng-message="required">Organization name is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <input type="text" id="organizationWebsite" name="organizationWebsite" class="form-control" ng-model="credentials.organizationForm.organizationWebsite" placeholder="Website" ng-required="credentials.organization === 'other'">
            <div ng-messages="userForm.organizationWebsite.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Website is required.</p>
            </div>
          </div>
        </fieldset>

        <div class="form-group" show-errors>
          <input type="text" id="jobTitle" name="jobTitle" class="form-control" ng-model="credentials.jobTitle" placeholder="Job Title">
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Job Title is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
<!--           <label for="firstName">First Name</label>
 -->          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
<!--           <label for="lastName">Last Name</label>
 -->          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
<!--           <label for="email">Email</label>
 -->          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
<!--           <label for="password">Password</label>
 -->            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!userForm.password.$error.required">
          <label>Password Requirements</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
        <div class="text-center signup">
    <p>Already have an account on Braquet?<br><a ui-sref="authentication.signin" class="show-signup">Sign in here</a></p>
    </div>
  </div>
</div>
